extends layouts/main

block content
    ul.nav.nav-tabs
        li.active(role='presentation')
            a(href='/add-product') Add product
        li(role='presentation')
            a(href='#') Profile
        li(role='presentation')
            a(href='#') Messages
