extends layouts/main

block content
    h1= Login
    .jumbotron
        form.form-inline(name="add-estimation", method="post", id="login-form" action="login")
            .form-group
                label(for='name') Name
                input#name.form-control(type='text', aria-describedby='name', placeholder='Enter name', name="username")
            br
            .form-group
                label(for='Password') Password
                input#Password.form-control(type='password', placeholder='Password', name="password")
            br
            br
            button.btn.btn-primary(type='submit') Submit
