body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
  text-decoration: none;
  cursor: pointer;
}

.shopingApp md-content .ext-content {
  padding: 50px;
  margin: 20px;
  background-color: #FFF2E0; 
}
