ul.nav.nav-tabs
    li(role='presentation')
        a(href='/admin/index') Home
    li(role='presentation')
        a(href='/admin/add-product') Add product
    li(role='presentation')
        a(href='/admin/add-category') Add category