<div ng-controller="loginCtrl">

    <form action="">

        <md-input-container>
            <input type="text" name="username" ng-model="formData.username" placeholder="ID">
        </md-input-container>
        <br>
        <md-input-container>
            <input type="password" name="password" ng-model="formData.password" placeholder="Password">
        </md-input-container>

        <md-button class="md-raised md-primary" ng-disabled="disableTheForm" ui-sref="register">Register</md-button>

    </form>
    
</div>
