<h1>Register</h1>
<div ng-cloak>

    <md-content class="md-padding">
        <md-nav-bar md-no-ink-bar="disableInkBar" md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links">
            <a ui-sref="login"><md-button>Login</md-button></a>


            <a ui-sref=".profile"><md-button>Profile</md-button></a>
            <a ui-sref=".address"><md-button>Address</md-button></a>

        </md-nav-bar>

    </md-content>
    
    <md-content class="md-padding">
        <div id="form-views" ui-view></div>
    </md-content>


</div>